<div class="register">
  <a href="#/login">
    <i class="ri-arrow-left-line arrow-left"></i>
  </a>
  <main class="main-register">
    <h1 class="main-register__title">Registro de Personal</h1>
    <hr class="main-register__line" />
    <!-- Datos de acceso -->
    <h2 class="main-register__subtitle">Datos de Acceso</h2>

    <form action="#" class="form">
      <div class="form__container-field form__container-field--span">
        <label for="" class="form__label">Usuario</label>
        <input type="text" class="form__input" />
      </div>
      <div class="form__container-field form__container-field--span">
        <label for="" class="form__label">Contraseña</label>
        <input type="text" class="form__input" />
      </div>
    </form>

    <!-- Información personal -->
    <h2 class="main-register__subtitle">Información Personal</h2>

    <form action="#" class="form">
      <div class="form__container-field form__container-field--span">
        <label for="" class="form__label">Nombre Completo</label>
        <input type="text" class="form__input" />
      </div>
      <div class="form__container-fields form__container-fields--grid-variant">
        <div class="form__container-field">
          <label for="" class="form__label">Tipo de Documento</label>
          <select
            class="form__input form__input--select"
            name=""
            id="tipos-documento"
          ></select>
        </div>
        <div class="form__container-field">
          <label for="" class="form__label">Número</label>
          <input type="text" class="form__input" />
        </div>
      </div>
      <div class="form__container-field form__container-field--span">
        <label for="" class="form__label">Teléfono</label>
        <input type="text" class="form__input" />
      </div>
      <div class="form__container-field form__container-field--span">
        <label for="" class="form__label">Correo</label>
        <input type="text" class="form__input" />
      </div>
      <div class="form__container-field form__container-field--span">
        <label for="" class="form__label">Dirección / Barrio</label>
        <input type="text" class="form__input" />
      </div>
      <div class="form__container-btns">
        <button class="btn btn--lower-height">Registrar</button>
        <button class="btn btn--lower-height btn--red">Cancelar</button>
      </div>
    </form>
  </main>
</div>
