<div class="modal__backdrop" data-modal="edit-service">
  <section class="section-form modal__container section-form--edit-antecedent">
    <i
      class="ri-arrow-left-line arrow-left arrow-left--bottom"
      id="back-edit-service"
    ></i>

    <h1 class="section-form__title">Registro de Servicio</h1>
    <hr class="section-form__line section-form__line--margin-bottom" />

    <form action="#" id="form-edit-service" novalidate>
      <div class="form form--w-650">
        <div class="form__container-field form__container-field--span">
          <label for="" class="form__label">Nombre</label>
          <input
            type="text"
            class="form__input"
            required
            data-validate="texto"
            name="nombre"
            id="nombreServicio"
          />
        </div>
        <div class="form__container-field form__container-field--span">
          <label for="" class="form__label">Descripcion</label>
          <textarea
            name="descripcion"
            required
            class="form__input form__input--textarea"
            id="descripcionServicio"
          ></textarea>
        </div>
        <div class="form__container-btns">
          <button type="submit" class="btn btn--lower-height">Registrar</button>
        </div>
      </div>
    </form>
  </section>
</div>
