<section class="block-container">
  <header class="block-header">
    <h3 class="block-header__title">Lista de Mascotas</h3>
    <div class="block-header__right">
      <a href="#/mascotas/crear">
        <button class="btn block-header__btn" id="btn-registro-cliente">
          Registrar mascota
        </button>
      </a>
      <!-- <i class="ri-search-2-line block-header__icon-button"></i> -->
    </div>
  </header>

  <div class="table-container" id="pets">
    <div class="table">
      <div class="table__header">
        <div class="table__cell">ID</div>
        <div class="table__cell">Nombre</div>
        <div class="table__cell">Especie</div>
        <div class="table__cell">Raza</div>
        <div class="table__cell">Dueño</div>
        <div class="table__cell">Telefono</div>
        <div class="table__cell">Ult. Antecedente</div>
      </div>
      <div class="table__body">
        <!-- Más filas -->
      </div>
    </div>
  </div>
</section>
