.btn {
  padding: 10px 25px;
  border-radius: var(--radius-md);
  font-size: var(--font-size-sm);
  font-weight: 600;
  background-color: var(--color-primary);
  color: #fff;
  border: none;
  align-self: center;
  transition: 0.5s;
}

.btn:hover {
  filter: brightness(70%);
  cursor: pointer;
}

.btn:disabled {
  filter: brightness(60%);
  cursor: default;
}

.btn--edit {
  background-color: var(--color-warning);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin: 0 auto;
  height: 30px;
  width: 30px;
  padding: 5px;
  font-size: var(--font-size-lg);
  border-radius: var(--radius-sm);
  z-index: 2;
  cursor: pointer;
}

.btn--small {
  font-size: var(--font-size-sm);
  border-radius: var(--radius-sm);
  padding: 3px 4px;
}

.btn--big {
  width: 70%;
  font-size: var(--font-size-lg);
}

.btn--padding {
  padding: 10px;
}

.btn--orange {
  background-color: var(--color-warning);
}

.btn--red {
  background-color: var(--color-danger);
}
