.home {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.home__title {
  font-size: 35px;
  color: #0161b5;
}

.home__message {
  font-size: 24px;
  font-weight: 500;
  color: #404040;
}
