.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-auto-rows: 200px;
  /* grid-template-rows: 300px; */
  gap: 30px;
  overflow-y: auto;
}

#medicaments-info.grid-container {
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-auto-rows: 300px;
}

.card {
  background-color: #f6f6f6;
  /* text-align: s; */
  padding: 20px;
  /* padding-left: 5px; */
  border: 1px solid #ccc;
  font-size: 1.2rem;

  display: grid;
  grid-template-columns: 140px 1fr;
  overflow: hidden;
  border-radius: 10px;
  gap: 10px;
  box-shadow: 0 0 5px 1px #00000025;
  position: relative;
}

#medicaments-info .card {
  grid-template-columns: 100px 1fr;
  grid-template-rows: 1fr 2fr 30px;
  cursor: pointer;
}

#medicaments-info .card__title {
  align-self: center;
  font-size: 24px;
}

#medicaments-info .card__btns {
  position: relative;
  grid-column: span 2;
}

#medicaments-info .perfil__contenedor-datos-personales--span2 {
  /* grid-template-columns: 140px 1fr; */
  /* grid-template-rows: 1fr 1fr; */
  grid-column: span 2;
  margin-top: 0;
  padding-top: 10px;
  /* border-top: 1px dashed #929292; */
}

#medicaments-info .card__img {
  align-self: center;
  justify-self: center;
  display: flex;
}

.card__img {
  /* width: 100px;
  height: 30px; */
  height: auto;
  width: 90%;
  align-self: center;
}

.scroll-cont {
  overflow-y: auto;
  grid-row: span 2;
}

.card__title {
  color: var(--color-primario);
  word-break: break-word;
}

.card__description {
  word-break: break-word;
  /* height: 120px; */
  font-size: 18px;
}

.card .btn--edit {
  position: absolute;
  bottom: 10px;
  right: 50px;
}

.card .btn--red {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-weight: 500;
}

.card__btns .btn--edit {
  bottom: 0;
  right: 40px;
}

.card__btns .btn--red {
  right: 0;
  bottom: 0;
}
