<div class="form">
  <div class="form__container-field form__container-field--span">
    <label for="" class="form__label">Campo</label>
    <input type="text" class="form__input" />
  </div>
  <div class="form__container-fields">
    <div class="form__container-field">
      <label for="" class="form__label">Campo</label>
      <input type="text" class="form__input" />
    </div>
    <div class="form__container-field">
      <label for="" class="form__label">Campo</label>
      <input type="text" class="form__input" />
    </div>
  </div>
  <div class="form__container-fields">
    <div class="form__container-field">
      <label for="" class="form__label">Campo</label>
      <select class="form__input form__input--select" name="" id="">
        <option>Option 1</option>
        <option>Option 2</option>
        <option>Option 3</option>
      </select>
    </div>
    <div class="form__container-field">
      <label for="" class="form__label">Campo</label>
      <input type="text" class="form__input" />
    </div>
  </div>
  <div class="form__container-btns">
    <button class="btn btn--lower-height">Registrar</button>
    <button class="btn btn--lower-height btn--red">Cancelar</button>
  </div>
</div>
