.form {
  /* display: grid;
  flex-direction: column;
  grid-template-rows: auto;
  grid-template-columns: 1fr; */
  background-color: #fff;
  width: 600px;
  padding: 30px;
  gap: 20px;
  display: grid;
  border-radius: 20px;
  box-shadow: 0 0 5px 0px #00000047;
  color: #4d4d4d;
}

.form__container-fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* justify-items: center; */
  gap: 15px;
}

.form__container-fields--grid-variant {
  grid-template-columns: 1.2fr 1fr;
}

.form__container-fields--3-col {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px;
}

.form__label--col-span {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

.form__container-field {
  display: flex;
  /* width: auto; */
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.form__label {
  font-size: 20px;
  font-weight: bold;
  /* margin-left: -5px; */
  font-weight: 550;
}

.form__input {
  flex-grow: 1;
  margin: 0 20px;
  /* align-self: center; */
  width: calc(100% - 40px);
  height: 40px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #e0e0e09a;
  font-size: 18px;
  padding-left: 10px;
  color: #242424;
}

.form__input--textarea {
  resize: vertical;
  max-height: 400px;
  height: 100px;
  min-height: 40px;
}

.form__input--select {
  /* Empezamos eliminando el caret de systema*/
  -moz-appearance: none; /*Firefox legacy*/
  -webkit-appearance: none; /* Chromes legacy*/
  appearance: none;
  /*Y a continuación añadimos el nuestro como background*/
  background-image: url(../../assets/arrow-down.svg);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: calc(100% - 5px) center; /*Lo posicionamos a la derecha*/
  padding-right: 30px; /*le damos algo de espacio para que el caret no se superponga al texto */
  cursor: pointer;
}

.form__container-btns {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.form--login {
  border: 1px solid #7b7b7b;
  /* box-shadow: none; */
  width: 100%;
  /* height: 100%; */
}

.form__container-field.error::after {
  content: var(--error-content);
  position: absolute;
  font-size: 14px;
  color: #d32f2f;
  font-weight: bold;
  right: 25px;
  bottom: -20px;
}

.form--w-700 {
  width: 700px;
}
