.form {
  background-color: #fff;
  width: 600px;
  padding: 30px;
  gap: 20px;
  display: grid;
  border-radius: var(--radius-md);
  box-shadow: 0 0 5px 0px #00000047;
  color: #4d4d4d;
}

.form--login {
  border: 1px solid #7b7b7b;
  width: 100%;
}

.form--w-700 {
  width: 700px;
}

.form--w-650 {
  width: 650px;
}

.form__container-fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.form__container-fields--btn {
  grid-template-columns: 1fr 100px;
}

.form__container-fields--grid-variant {
  grid-template-columns: 1.2fr 1fr;
}

.form__container-fields--3-col {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px;
}

.form__container-fields--medicaments {
  grid-template-columns: 1fr 1fr 1fr;
}

.form__container-field {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.form__label {
  font-size: var(--font-size-lg);
  font-weight: 550;
}

.form__label--col-span {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

.form__input {
  flex-grow: 1;
  margin: 0 20px;
  width: calc(100% - 40px);
  height: 40px;
  border-radius: var(--radius-md);
  border: none;
  outline: none;
  background-color: #e0e0e09a;
  font-size: var(--font-size-md);
  padding-left: 10px;
  color: #242424;
}

.form__input--textarea {
  resize: vertical;
  max-height: 200px;
  height: 100px;
  min-height: 40px;
}

.form__input--select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url(../../assets/arrow-down.svg);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: calc(100% - 5px) center;
  padding-right: 30px;
  cursor: pointer;
}

.form__container-btns {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.form__container-field.error::after {
  content: var(--error-content);
  position: absolute;
  font-size: 14px;
  color: #d32f2f;
  font-weight: bold;
  right: 25px;
  bottom: -20px;
  z-index: 100;
}

.form__container-fields--btn .btn--padding {
  align-self: end;
}
