<section class="section-administration" id="inventory">
  <section class="block-container">
    <header class="block-header">
      <h3 class="block-header__title">Tipos de productos</h3>
      <div class="block-header__right">
        <a
          href="#/administrar-datos/tipos-productos/crear"
          data-permiso="tipo-documento.create"
        >
          <button class="btn block-header__btn" id="btn-register-productType">
            Nuevo tipo
          </button>
        </a>
        <!-- <i class="ri-search-2-line block-header__icon-button"></i> -->
      </div>
    </header>

    <div
      class="table-container table-container--administrar_datos"
      id="productsTypes"
      data-permiso="tipo-documento.read"
    >
      <div class="table">
        <div class="table__header">
          <div class="table__cell">ID</div>
          <div class="table__cell">Nombre</div>
        </div>
        <div class="table__body">
          <!-- Más filas -->
        </div>
      </div>
    </div>
  </section>
  <section class="block-container">
    <header class="block-header">
      <h3 class="block-header__title">Lista de especies</h3>
      <div class="block-header__right">
        <a
          href="#/administrar-datos/especies/crear"
          data-permiso="especie.create"
        >
          <button class="btn block-header__btn" id="btn-registro-specie">
            Nueva especie
          </button>
        </a>
        <!-- <i class="ri-search-2-line block-header__icon-button"></i> -->
      </div>
    </header>

    <div
      class="table-container table-container--administrar_datos"
      id="species"
      data-permiso="especie.view"
    >
      <div class="table">
        <div class="table__header">
          <div class="table__cell">ID</div>
          <div class="table__cell">Nombre</div>
        </div>
        <div class="table__body">
          <!-- Más filas -->
        </div>
      </div>
    </div>
  </section>
  <section class="block-container">
    <header class="block-header">
      <h3 class="block-header__title">Razas de Especie</h3>
      <div class="block-header__right">
        <button
          class="btn block-header__btn"
          id="btn-registro-raza"
          disabled
          data-permiso="raza.create"
        >
          Nueva raza
        </button>

        <!-- <i class="ri-search-2-line block-header__icon-button"></i> -->
      </div>
    </header>

    <div
      class="table-container table-container--administrar_datos"
      id="breeds"
      data-permiso="raza.view"
    >
      <div class="table">
        <div class="table__header">
          <div class="table__cell">ID</div>
          <div class="table__cell">Nombre</div>
        </div>
        <div class="table__body">
          <!-- Más filas -->
        </div>
      </div>
    </div>
  </section>
</section>
