<section class="block-container">
  <header class="block-header">
    <h3 class="block-header__title">Historial de ventas</h3>
    <div class="block-header__right">
      <a href="#/ventas/crear">
        <button class="btn block-header__btn" id="btn-registro-cliente">
          Nueva venta
        </button>
      </a>
    </div>
  </header>

  <div class="table-container" id="ventas">
    <div class="table">
      <div class="table__header">
        <div class="table__cell">ID</div>
        <div class="table__cell">Fecha</div>
        <div class="table__cell">Cliente</div>
        <div class="table__cell">Mto. Canc.</div>
        <div class="table__cell">Mto. Falt.</div>
        <div class="table__cell">Total</div>
        <div class="table__cell">Estado</div>
      </div>
      <div class="table__body">
        <!-- Más filas -->
      </div>
    </div>
  </div>
</section>
