<div class="modal__backdrop" data-modal="pet-treatment">
  <div class="contenedor-perfil modal__container">
    <div class="perfil__rol-contenedor perfil__rol-contenedor--margin-small">
      <div>
        <h3 class="perfil__nombre" id="treatment-title">Suero controlado</h3>
        <p class="perfil__rol" id="treatment-title-antecedent">
          <!-- Tratamiento para: Tumor mamario -->
        </p>
        <p class="perfil__rol perfil__rol--margin" id="treatment-date">
          28/01/2025
        </p>
        <p class="perfil__rol perfil__rol--margin" id="treatment-veterinario">
          28/01/2025
        </p>
      </div>
      <i class="ri-close-line btn-atras" id="back-treatment"></i>
    </div>
    <p class="perfil__separador">Descripcion</p>

    <p
      class="perfil__valor perfil__valor--margin perfil__valor--scroll"
      id="treatment-description"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. ...
    </p>

    <p class="perfil__separador perfil__separador--margin-bottom">
      Medicamentos
    </p>

    <div
      class="table-container table-container--fijo"
      id="pet-antecedent-treatment"
    >
      <div class="table">
        <div class="table__header">
          <div class="table__cell">ID</div>
          <div class="table__cell">Nombre</div>
          <div class="table__cell">Uso general</div>
          <div class="table__cell">Via</div>
          <div class="table__cell">Dosis</div>
          <div class="table__cell">Frecuencia</div>
          <div class="table__cell">Duracion</div>
          <div class="table__cell"></div>
        </div>
        <div class="table__body">
          <!-- Más filas -->
        </div>
      </div>
    </div>

    <div class="form__container-btns">
      <button
        class="btn perfil__boton"
        id="register-antecedent-treatment-medicament"
      >
        Agregar medicamento
      </button>
      <button
        type="submit"
        class="btn perfil__boton btn--red admin"
        id="delete-treatment"
      >
        Eliminar tratamiento
      </button>
    </div>
  </div>
</div>
