<main class="main-login">
  <div class="logo">
    <img src="./src/assets/logoSinFondo.png" alt="logo" class="logo__img" />
  </div>
  <hr class="line" />
  <div class="container-form">
    <h3 class="container-form__title">INICIAR SESION</h3>
    <p class="container-form__caption">Usuario</p>

    <form action="#" id="form" novalidate>
      <div class="form form--login">
        <div class="form__container-field form__container-field--span">
          <label for="" class="form__label">Usuario:</label>
          <input
            type="text"
            class="form__input"
            id="usuario"
            name="usuario"
            required
          />
        </div>
        <div
          class="form__container-field form__container-field--span container-passwd"
        >
          <label for="" class="form__label">Contraseña:</label>
          <input
            type="password"
            class="form__input"
            id="contrasena"
            name="contrasena"
            required
          />
          <i class="icon ri-eye-line eye-icon"></i>
        </div>
        <div class="form__container-btns">
          <button class="btn btn--big" id="access">Iniciar sesion</button>
        </div>
      </div>
    </form>
  </div>
</main>
