<main class="main-login">
  <div class="logo">
    <img src="./src/assets/logoSinFondo.png" alt="logo" class="logo__img" />
  </div>
  <hr class="line" />
  <div class="container-form">
    <h3 class="container-form__title">INICIAR SESION</h3>
    <p class="container-form__caption">Personal</p>

    <form action="#" class="form form--login">
      <div class="form__container-field form__container-field--span">
        <label for="" class="form__label">Usuario:</label>
        <input type="text" class="form__input" id="usuario" />
      </div>
      <div class="form__container-field form__container-field--span">
        <label for="" class="form__label">Contraseña:</label>
        <input type="text" class="form__input" id="contrasena" />
      </div>
      <div class="form__container-btns">
        <button class="btn btn--big" id="access">Iniciar sesion</button>
      </div>
      <a href="#/registro" class="container-form__link">Crear cuenta</a>
    </form>
  </div>
</main>
