<section class="container-clients">
  <header class="header-clients">
    <h3 class="header-clients__title">Lista de Clientes</h3>
    <div class="header-clients__container-right">
      <a href="#/clientes/crear">
        <button
          class="btn btn--small header-clients__btn"
          id="btn-registro-cliente"
        >
          Registrar cliente
        </button>
      </a>
      <i class="ri-search-2-line header-clients__search-logo"></i>
    </div>
  </header>

  <div class="table-container" id="clients">
    <div class="table">
      <div class="table__header">
        <div class="table__cell">ID</div>
        <div class="table__cell">Nombre</div>
        <div class="table__cell">Telefono</div>
        <div class="table__cell">Documento</div>
        <div class="table__cell">Direccion</div>
      </div>
      <div class="table__body">
        <div class="table__row">
          <div class="table__cell">1</div>
          <div class="table__cell">juan@email.com</div>
          <div class="table__cell">Admin</div>
          <div class="table__cell">Activo</div>
          <div class="table__cell">Activo</div>
        </div>
        <div class="table__row">
          <div class="table__cell">1</div>
          <div class="table__cell">juan@email.com</div>
          <div class="table__cell">Admin</div>
          <div class="table__cell">Activo</div>
          <div class="table__cell">Activo</div>
        </div>
        <div class="table__row">
          <div class="table__cell">1</div>
          <div class="table__cell">juan@email.com</div>
          <div class="table__cell">Admin</div>
          <div class="table__cell">Activo</div>
          <div class="table__cell">Activo</div>
        </div>
        <div class="table__row">
          <div class="table__cell">1</div>
          <div class="table__cell">juan@email.com</div>
          <div class="table__cell">Admin</div>
          <div class="table__cell">Activo</div>
          <div class="table__cell">Activo</div>
        </div>
        <div class="table__row">
          <div class="table__cell">1</div>
          <div class="table__cell">juan@email.com</div>
          <div class="table__cell">Admin</div>
          <div class="table__cell">Activo</div>
          <div class="table__cell">Activo</div>
        </div>
        <div class="table__row">
          <div class="table__cell">1</div>
          <div class="table__cell">juan@email.com</div>
          <div class="table__cell">Admin</div>
          <div class="table__cell">Activo</div>
          <div class="table__cell">Activo</div>
        </div>
        <div class="table__row">
          <div class="table__cell">1</div>
          <div class="table__cell">juan@email.com</div>
          <div class="table__cell">Admin</div>
          <div class="table__cell">Activo</div>
          <div class="table__cell">Activo</div>
        </div>
        <div class="table__row">
          <div class="table__cell">1</div>
          <div class="table__cell">juan@email.com</div>
          <div class="table__cell">Admin</div>
          <div class="table__cell">Activo</div>
          <div class="table__cell">Activo</div>
        </div>
        <div class="table__row">
          <div class="table__cell">1</div>
          <div class="table__cell">juan@email.com</div>
          <div class="table__cell">Admin</div>
          <div class="table__cell">Activo</div>
          <div class="table__cell">Activo</div>
        </div>
        <div class="table__row">
          <div class="table__cell">1</div>
          <div class="table__cell">juan@email.com</div>
          <div class="table__cell">Admin</div>
          <div class="table__cell">Activo</div>
          <div class="table__cell">Activo</div>
        </div>
        <div class="table__row">
          <div class="table__cell">1</div>
          <div class="table__cell">juan@email.com</div>
          <div class="table__cell">Admin</div>
          <div class="table__cell">Activo</div>
          <div class="table__cell">Activo</div>
        </div>
        <div class="table__row">
          <div class="table__cell">1</div>
          <div class="table__cell">juan@email.com</div>
          <div class="table__cell">Admin</div>
          <div class="table__cell">Activo</div>
          <div class="table__cell">Activo</div>
        </div>
        <!-- Más filas -->
      </div>
    </div>
  </div>
</section>
