/*=============== Layout ===============*/
@import url(layouts/mainLayout.css);
/*=============== Components ===============*/
@import url(../components/button/button.css);
@import url(../components/form/form.css);
@import url(../components/table/table.css);
@import url(../components/sectionForm/sectionForm.css);
@import url(../components/modal/modal.css);
/*=============== Views ===============*/
@import url(views-styles/home.css);
@import url(views-styles/login.css);
@import url(views-styles/container.css);
@import url(views-styles/profileClient.css);
@import url(views-styles/inventory.css);
@import url(views-styles/services.css);
@import url(views-styles/venta.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
