<section class="block-container">
  <header class="block-header">
    <h3 class="block-header__title">Lista de Empleados</h3>
    <div class="block-header__right">
      <a href="#/usuarios/crear" data-permiso="usuario.create">
        <button class="btn block-header__btn" id="btn-registro-cliente">
          Nuevo empleado
        </button>
      </a>
      <a href="#/usuarios/crearExistente" data-permiso="usuario.create">
        <button class="btn block-header__btn" id="btn-registro-cliente">
          Usar info existente
        </button>
      </a>
      <!-- <i class="ri-search-2-line block-header__icon-button"></i> -->
    </div>
  </header>

  <div class="table-container" id="personal">
    <div class="table">
      <div class="table__header">
        <div class="table__cell">ID</div>
        <!-- <div class="table__cell">Usuario</div> -->
        <div class="table__cell">Rol</div>
        <div class="table__cell">Nombre</div>
        <div class="table__cell">Telefono</div>
        <div class="table__cell">Documento</div>
        <div class="table__cell">Direccion</div>
      </div>
      <div class="table__body">
        <!-- Más filas -->
      </div>
    </div>
  </div>
</section>