<div class="modal__backdrop" data-modal="profile-medicament-info">
  <div
    class="contenedor-perfil contenedor-perfil--pequeño w-750 modal__container"
  >
    <div class="perfil__rol-contenedor">
      <div>
        <h3 class="perfil__nombre" id="profile-medicament-info-nombre">
          Nombre
        </h3>
        <p class="perfil__rol">Medicamento Informativo</p>
      </div>
      <i class="ri-close-line btn-atras" id="back-profile-medicament-info"></i>
    </div>
    <p class="perfil__separador">Detalles</p>
    <div
      class="perfil__contenedor-datos-personales perfil__contenedor-datos-personales--col-1"
    >
      <!-- <div class="perfil__contenedor-documento">
      </div> -->
      <p class="perfil__campo perfil__campo--beetwen">
        Uso general:
        <span
          class="perfil__valor"
          id="profile-medicament-info-usoGeneral"
        ></span>
      </p>
      <p class="perfil__campo perfil__campo--beetwen">
        Via de administracion:
        <span class="perfil__valor" id="profile-medicament-info-Via"></span>
      </p>
      <p class="perfil__campo perfil__campo--beetwen">
        Presentacion:
        <span
          class="perfil__valor"
          id="profile-medicament-info-presentacion"
        ></span>
      </p>
    </div>
    <p class="perfil__separador">Info. Adicional</p>

    <p
      class="perfil__valor perfil__valor--margin perfil__valor--scroll"
      id="profile-medicament-info-adicionl"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. ...
    </p>

    <div class="form__container-btns">
      <button
        type="submit"
        class="btn btn--lower-height btn--orange"
        id="edit-medicament-info"
      >
        Editar medicamento
      </button>
      <!-- <button class="btn perfil__boton" id="register-pets-client">
        Registrar mascota
      </button> -->
      <button
        type="submit"
        class="btn btn--lower-height btn--red admin"
        id="delete-medicament-info"
      >
        Eliminar Medicamento
      </button>
    </div>
  </div>
</div>
