<section class="section-form">
  <a href="#/login">
    <i class="ri-arrow-left-line arrow-left"></i>
  </a>
  <h1 class="section-form__title">Registro de Personal</h1>
  <hr class="section-form__line" />

  <!-- Formulario -->
  <form action="#" id="form-register" novalidate>
    <!-- Datos de acceso -->
    <h2 class="section-form__subtitle">Datos de Acceso</h2>

    <div class="form">
      <div class="form__container-field form__container-field--span">
        <label for="" class="form__label">Usuario</label>
        <input
          type="text"
          class="form__input"
          required
          data-validate="alfanumerico"
          name="usuario"
        />
      </div>
      <div class="form__container-field form__container-field--span">
        <label for="" class="form__label">Contraseña</label>
        <input
          type="text"
          class="form__input"
          required
          data-validate="contrasena"
          name="contrasena"
        />
      </div>
    </div>
  </form>
</section>
