.section-form {
  background-color: #f6f6f6;
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
  position: relative;
}

.section-form__line {
  width: 60%;
  border: 1px solid #dcdcdc;
}

.section-form__line--margin-bottom {
  margin-bottom: 30px;
  width: 70%;
}

.section-form__title {
  font-size: 50px;
  margin-top: 10px;
  text-align: center;
  color: #707070;
}

.section-form__subtitle {
  margin-left: 20px;
  font-size: 30px;
  color: #0161b5;
  margin: 20px 0 10px 0;
}

.arrow-left {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  width: 50px;
  height: 50px;
  color: #fff;
  position: absolute;
  top: 15px;
  left: 25px;
  cursor: pointer;
  background-color: #0161b5;
  border-radius: 10px;
}

.arrow-left:hover {
  filter: brightness(70%);
}

.arrow-left--bottom {
  top: 34px;
}

.form__container-field:has(input[name="anios"])::before,
.form__container-field:has(input[name="meses"])::before,
.form__container-field:has(input[name="semanas"])::before,
.form__container-field:has(input[name="dias"])::before {
  /* content: "Años"; */
  position: absolute;
  font-size: 18px;
  color: #707070;
  font-weight: 500;
  right: 30px;
  top: 7px;
}

.form__container-field:has(input[name="anios"])::before {
  content: "Años";
}

.form__container-field:has(input[name="dias"])::before {
  content: "Dias";
}

.form__container-field:has(input[name="meses"])::before {
  content: "Meses";
}

.form__container-field:has(input[name="semanas"])::before {
  content: "Semanas";
}

.hidden {
  display: none;
}

.form--w-800 {
  width: 800px;
}
