<div class="modal__backdrop" data-modal="profile-personal">
  <div class="contenedor-perfil w-800 h modal__container">
    <div class="perfil__rol-contenedor">
      <div>
        <h3 class="perfil__nombre" id="nombre"></h3>
        <p class="perfil__rol" id="profile-rol">Empleado</p>
      </div>
      <i
        class="ri-close-line btn-atras"
        id="back-profile-personal"
        data-modal="profile-personal"
      ></i>
    </div>
    <p class="perfil__separador">Datos</p>
    <div class="perfil__contenedor-datos-personales">
      <!-- <div class="perfil__contenedor-documento">
      </div> -->
      <p class="perfil__campo">
        Tipo de documento:
        <span class="perfil__valor" id="tipo_documento"></span>
      </p>
      <p class="perfil__campo">
        Numero:
        <span class="perfil__valor" id="numero_documento"></span>
      </p>
      <p class="perfil__campo perfil__campo--margen">
        E-mail:
        <span class="perfil__valor" id="correo"></span>
      </p>
      <p class="perfil__campo">
        Telefono:
        <span class="perfil__valor" id="telefono"></span>
      </p>
      <p class="perfil__campo perfil__campo--span-2">
        Direccion:
        <span class="perfil__valor" id="direccion"></span>
      </p>
    </div>
    <p class="perfil__separador">Datos de inicio</p>

    <div
      class="perfil__contenedor-datos-personales perfil__contenedor-datos-personales--col-1"
    >
      <p class="perfil__campo">
        Usuario:
        <span class="perfil__valor" id="profile-usuario"></span>
      </p>
    </div>
    <div class="form__container-btns">
      <button
        type="submit"
        class="btn btn--lower-height btn--orange"
        id="edit-personal"
      >
        Editar empleado
      </button>
      <!-- <button class="btn perfil__boton" id="register-pets-client">
        Registrar mascota
      </button> -->
      <button
        type="submit"
        class="btn btn--lower-height btn--red"
        id="delete-personal"
      >
        Desactivar
      </button>
      <button type="submit" class="btn btn--lower-height" id="activar-personal">
        Activar
      </button>
    </div>
  </div>
</div>
