<div class="modal__backdrop" data-modal="create-clienteExist">
  <section class="section-form modal__container">
    <i class="ri-arrow-left-line arrow-left arrow-left--bottom" id="back-create-clienteExist"></i>

    <h1 class="section-form__title">Registro de Cliente</h1>
    <hr class="section-form__line" />

    <p class="section-form__description">
      Registrar cliente con información ya registrada
    </p>

    <form action="#" id="form-register-clienteExist" novalidate>
      <div class="form">
        <div class="form__container-field">
          <label for="" class="form__label">Seleccione una informacion</label>
          <select class="form__input form__input--select" required id="select-info" name="usuario_id">
            <!-- Opciones -->
            <option disabled selected value="">Seleccione una opcion</option>
          </select>
        </div>
        <div class="form__container-btns">
          <button type="submit" class="btn btn--lower-height">Registrar</button>
        </div>
      </div>
    </form>
  </section>
</div>