<section class="block-container">
  <header class="block-header">
    <h3 class="block-header__title">Informacion de Medicamentos</h3>
    <div class="block-header__right">
      <a href="#/medicamentos_info/crear">
        <button class="btn block-header__btn" id="btn-register-service">
          Registrar info
        </button>
      </a>
      <!-- <i class="ri-search-2-line block-header__icon-button"></i> -->
    </div>
  </header>
  <div class="grid-container" id="medicaments-info">
    <!--  Ejemplo:  -->
  </div>
</section>
