<div class="contenedor-perfil venta-profile" id="venta">
  <div class="perfil__rol-contenedor">
    <h3 class="perfil__nombre">Perfil de venta</h3>
    <p class="perfil__campo">
      Total:
      <span class="perfil__valor" id="venta-profile-total">$0</span>
    </p>

  </div>
  <p class="perfil__campo" id="venta-profile-nombreEmpleado">
    Nombre del Empleado
  </p>
  <div class="venta-cuerpo" id="profile-venta-cuerpo">
    <p class="perfil__separador profile" id="venta-profile-clienteDatos">
      Cliente
      <!-- <select class="form__input form__input--select" required id="select-clientes" name="id_info">
        <option disabled selected value="">Seleccione un cliente</option> -->
      <!-- </select> -->
    </p>
    <div class="d-flex" id="datos-venta">
      <p class="perfil__campo">
        Fecha de Creacion:
        <span class="perfil__valor" id="venta-profile-creado"></span>
      </p>
      <p class="perfil__campo">
        Monto cancelado:
        <span class="perfil__valor" id="venta-profile-cancelado"></span>
      </p>
      <p class="perfil__campo">
        Estado:
        <span class="perfil__valor" id="venta-profile-estado"></span>
      </p>
      <!-- <p class="perfil__campo">Fecha de Creacion:</p>
      <p class="perfil__campo">Monto cancelado:</p>
      <p class="perfil__campo">Fecha de Creacion:</p> -->

    </div>
    <div class="producto m-r-12">
      <p class="producto__item">Nombre</p>
      <p class="producto__item">Categoria</p>
      <p class="producto__item">Precio</p>
      <p class="producto__item">Cantidad</p>
      <p class="producto__item">Adicional</p>
      <p class="producto__item">Subtotal</p>
      <!-- <i class="ri-delete-bin-line delete-producto"></i> -->
    </div>
    <div class="contenedor-venta">
      <div class="venta-productos">
        <!-- <div class="producto">
          <p class="producto__item" id="producto-nombre">Nombre</p>
          <p class="producto__item" id="producto-cantidad">x1</p>
          <p class="producto__item" id="producto-precio">$10000</p>
          <i class="ri-delete-bin-line delete-producto"></i>
        </div> -->
      </div>
    </div>
    <div class="form__container-btns">
      <button type="submit" class="btn btn--lower-height btn--red" id="venta-cancelar">
        Volver
      </button>
      <!-- <button class="btn perfil__boton" id="register-pets-client">
              Registrar mascota
            </button> -->
      <button type="submit" class="btn btn--lower-height" id="venta-finalizar">
        Finalizar
      </button>
    </div>
  </div>
</div>
</div>