<div class="modal__backdrop" data-modal="create-medicament-info">
  <section class="section-form modal__container">
    <i
      class="ri-arrow-left-line arrow-left arrow-left--bottom"
      id="back-register-medicament-info"
    ></i>

    <h1 class="section-form__title section-form__title--w-450">
      Registrar Info. Medicamento
    </h1>
    <hr class="section-form__line section-form__line--margin-bottom" />

    <form action="#" id="form-register-medicament-info" novalidate>
      <div class="form">
        <div class="form__container-field form__container-field--span">
          <label for="" class="form__label">Nombre</label>
          <input
            type="text"
            class="form__input"
            required
            data-validate="texto"
            name="nombre"
          />
        </div>
        <div class="form__container-field form__container-field--span">
          <label for="" class="form__label">Uso general</label>
          <input
            type="text"
            class="form__input"
            required
            data-validate="texto"
            name="uso_general"
          />
        </div>
        <div class="form__container-field form__container-field--span">
          <label for="" class="form__label">Via de administracion</label>
          <input
            type="text"
            class="form__input"
            required
            data-validate=""
            name="via_administracion"
          />
        </div>
        <div class="form__container-field form__container-field--span">
          <label for="" class="form__label">Presentacion</label>
          <input
            type="text"
            class="form__input"
            required
            data-validate=""
            name="presentacion"
          />
        </div>
        <div class="form__container-field form__container-field--span">
          <label for="" class="form__label">Informacion adicional</label>
          <textarea
            name="informacion_adicional"
            required
            class="form__input form__input--textarea"
          ></textarea>
        </div>
        <div class="form__container-btns">
          <button type="submit" class="btn btn--lower-height">Registrar</button>
        </div>
      </div>
    </form>
  </section>
</div>
