<div class="contenedor-perfil contenedor-perfil--pet" id="pet-profile">
  <div class="perfil__rol-contenedor">
    <div>
      <h3 class="perfil__nombre" id="mascota">Nombre mascota</h3>
      <p class="perfil__rol">Mascota</p>
      <button
        type="submit"
        class="btn btn--lower-height btn--orange perfil__editar-pet"
        id="edit-pet"
      >
        Editar
      </button>
      <button
        type="submit"
        class="btn btn--lower-height btn--red perfil__desactivar-pet"
        id="desactivar-pet"
      >
        Desactivar
      </button>
    </div>
  </div>
  <p class="perfil__separador">Datos de la Mascota</p>
  <div class="perfil__contenedor-datos-personales">
    <!-- <div class="perfil__contenedor-documento">
      </div> -->
    <p class="perfil__campo">
      Especie:
      <span class="perfil__valor" id="especie"></span>
    </p>
    <p class="perfil__campo">
      Raza:
      <span class="perfil__valor" id="raza"></span>
    </p>
    <p class="perfil__campo">
      Edad:
      <span class="perfil__valor" id="edad"></span>
    </p>
    <p class="perfil__campo">
      Sexo:
      <span class="perfil__valor" id="sexo"></span>
    </p>
  </div>

  <p class="perfil__separador">Datos del Propietario</p>
  <div class="perfil__contenedor-datos-personales">
    <!-- <div class="perfil__contenedor-documento">
      </div> -->
    <p class="perfil__campo">
      Nombre:
      <span class="perfil__valor" id="dueño"></span>
    </p>
    <p class="perfil__campo">
      Telefono:
      <span class="perfil__valor" id="telefono"></span>
    </p>
    <p class="perfil__campo">
      Tipo de documento:
      <span class="perfil__valor" id="tipo_documento"></span>
    </p>
    <p class="perfil__campo">
      Numero:
      <span class="perfil__valor" id="numero_documento"></span>
    </p>
    <p class="perfil__campo">
      Direccion:
      <span class="perfil__valor" id="direccion"></span>
    </p>
    <p class="perfil__campo perfil__campo--margen">
      E-mail:
      <span class="perfil__valor" id="correo"></span>
    </p>
  </div>
  <p
    class="perfil__separador perfil__separador--margin-bottom perfil__separador--sticky"
  >
    Historial Clinico
    <i class="ri-add-line plus-icon plus-icon--bg" id="register-antecedent"></i>
  </p>

  <div class="antecedentes-container">
    <p class="perfil__campo">Antecedentes:</p>
    <div class="contenedor-ant" id="profile-pet-antecedent">
      <!-- Acordeones de antecedentes aquí -->
      <!-- <div class="antecedente">
        <div class="antecedente-header">
          <span>25/07/2025</span>Otitis externa
        </div>
        <div class="antecedente-body">
          <p><strong>Diagnóstico:</strong> Otitis externa en oído izquierdo</p>
          <p class="perfil__separador perfil__separador--treatment">
            Tratamientos
          </p>

          <div class="tratamiento"><span>25/07/2025</span>Otitis externa</div>
          <div class="tratamiento"><span>25/07/2025</span>Otitis externa</div>
          <div class="tratamiento"><span>25/07/2025</span>Otitis externa</div>
          <div class="tratamiento"><span>25/07/2025</span>Otitis externa</div>
          <div class="tratamiento"><span>25/07/2025</span>Otitis externa</div>
          <i class="ri-add-line plus-icon"></i>
        </div>
      </div> -->
      <!-- Puedes duplicar más antecedentes aquí -->
    </div>
  </div>
</div>
