<div class="modal__backdrop" data-modal="profile-client">
  <div class="contenedor-perfil modal__container">
    <div class="perfil__rol-contenedor">
      <div>
        <h3 class="perfil__nombre" id="cliente"></h3>
        <p class="roles">Cliente</p>
      </div>
      <i class="ri-close-line btn-atras" id="back-perfil"></i>
    </div>
    <p class="perfil__separador">Datos personales</p>
    <div class="perfil__contenedor-datos-personales">
      <!-- <div class="perfil__contenedor-documento">
      </div> -->
      <p class="perfil__campo">
        Tipo de documento:
        <span class="perfil__valor" id="tipo_documento"></span>
      </p>
      <p class="perfil__campo">
        Numero:
        <span class="perfil__valor" id="numero_documento"></span>
      </p>
      <p class="perfil__campo">
        Direccion:
        <span class="perfil__valor" id="direccion"></span>
      </p>
      <p class="perfil__campo">
        Telefono:
        <span class="perfil__valor" id="telefono"></span>
      </p>
      <p class="perfil__campo perfil__campo--margen">
        E-mail:
        <span class="perfil__valor" id="correo"></span>
      </p>
    </div>
    <p class="perfil__separador perfil__separador--margin-bottom">
      Lista de mascotas
    </p>

    <div class="table-container" id="pets-client" data-permiso="mascota.view">
      <div class="table">
        <div class="table__header">
          <div class="table__cell">ID</div>
          <div class="table__cell">Nombre</div>
          <div class="table__cell">Especie</div>
          <div class="table__cell">Raza</div>
          <div class="table__cell">Nacimiento</div>
          <div class="table__cell">Sexo</div>
        </div>
        <div class="table__body">
          <!-- Más filas -->
        </div>
      </div>
    </div>

    <div class="form__container-btns">
      <button
        type="submit"
        class="btn btn--lower-height btn--orange"
        id="edit-client"
        data-permiso="usuario.update-client"
      >
        Editar cliente
      </button>
      <!-- <button class="btn perfil__boton" id="register-pets-client">
        Registrar mascota
      </button> -->
      <button
        type="submit"
        class="btn btn--lower-height"
        id="register-pets-client"
        data-permiso="mascota.create"
      >
        Registrar mascota
      </button>
    </div>
  </div>
</div>
