@media (width <=1023px) {
  /* LOGIN */
  .main-login {
    grid-template-columns: 1fr;
    grid-template-rows: 30vh 5px 1fr;
    grid-template-areas:
      "logo"
      "line"
      "form";
  }

  .main-login .logo {
    height: 100%;
    max-height: 100%;
  }

  .main-login .logo__img {
    height: 100%;
    object-fit: contain;
  }

  .main-login .line {
    height: auto;
  }

  .container-form {
    width: 70%;
    margin: 50px auto 0;
    display: block;
    align-self: flex-start;
  }

  /* LAYOUT */

  .layout {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "main";
  }

  /* ARREGLOS EN HEADER */
  .header {
    grid-template-columns: auto auto 1fr;
    grid-template-areas: "menu logo user";
  }

  .menu-hamburguesa {
    grid-area: menu;
    margin: auto 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    background-color: var(--color-primary);
    width: 50px;
    height: 50px;
    border-radius: var(--radius-sm);
    color: #fff;
    cursor: pointer;
  }

  .header__user {
    font-size: 30px;
  }

  /* CONFIGURACION DEL SIDEBAR PARA MENU HAMBURGUESA */

  .sidebar {
    height: calc(100% - 110px);
    bottom: 0;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
    transform: translateX(-20px);
    transition: all 0.3s;
    box-shadow: 5px 0 10px #00000047;
  }

  .menu-activar:checked {
    position: absolute;
    z-index: 4;
    appearance: none;
    height: 100vh;
    width: 100vw;
    display: block;
  }

  .menu-activar:checked + .sidebar {
    opacity: 1;
    transform: translateX(0);
    pointer-events: all;
    z-index: 5;
  }

  /* AJUSTES EN ALGUNAS VISTAS */
  .table-container {
    overflow-x: auto;
    border-radius: var(--radius-sm);
  }

  .table {
    min-width: min-content;
  }

  .table-container::-webkit-scrollbar {
    height: 6px;
  }

  .table-container::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border-radius: var(--radius-sm);
  }

  /* Mascotas */
  #pets .table__header,
  #pets .table__row {
    grid-template-columns:
      50px minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr)
      minmax(100px, 1fr);
  }

  #pets .table .table__cell:nth-child(5),
  #pets .table .table__cell:nth-child(6) {
    display: none;
  }

  #form-register-pet-antecedent .form,
  #form-register-medicament-inventory .form,
  #form-register-pet-antecedent-treatment-medicament .form {
    width: 600px;
  }

  /* Ventas */
  #venta.contenedor-perfil#venta {
    grid-template-columns: 100%;
  }

  #venta .perfil__rol-contenedor .perfil__campo {
    white-space: nowrap;
  }

  .perfil__nombre {
    font-size: 35px;
    width: auto;
  }

  #venta .perfil__separador {
    grid-template-columns: auto 1fr;
  }

  #venta .perfil__campo {
    font-size: var(--font-size-xl);
  }

  #datos-venta .perfil__campo {
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-md);
  }

  #venta:not(.venta-profile) .producto {
    grid-template-columns: 2fr repeat(3, 1fr) 30px;
  }

  .producto {
    font-size: 15px;
    grid-template-columns: 2fr repeat(4, 1fr);
  }

  .producto .producto__item:nth-child(2) {
    display: none;
  }

  /* SECCION DE ADMINISTRACIÓN */

  .section-administration {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
  }

  #products .table__header,
  #products .table__row {
    grid-template-columns: 50px minmax(100px, 1.5fr) repeat(
        3,
        minmax(100px, 1fr)
      );
  }

  #products .table .table__cell:nth-child(3) {
    display: none;
  }

  #medicaments .table__header,
  #medicaments .table__row {
    grid-template-columns:
      50px 110px minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr)
      120px 100px;
  }

  #medicaments .table .table__cell:nth-child(5) {
    display: none;
  }

  .placeholder {
    font-size: var(--font-size-lg);
  }
}
