.table-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* padding: 2rem; */
  max-height: 100%;
  overflow: auto;
  box-shadow: 0 5px 10px -8px #3d3d3d;
}

/* .table-container--fijo {
  min-height: 200px;
} */

.table {
  display: grid;
  grid-template-rows: auto 1fr;
  /* border: 1px solid #ccc; */
  border-radius: 6px;
  overflow: hidden;
  flex: 1;
  font-size: 16px;
  color: #000;
}

.table__header {
  display: grid;
  grid-template-columns: 50px 1.5fr 1fr 1fr 1.5fr;
}

.table__header {
  background-color: #293241;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  /* border-bottom: 2px solid rgb(171, 171, 171); */
  /* box-shadow: 0 2px 10px 2px #000; */
}

.table__header .table__cell:first-child {
  text-align: center;
}

.table__body {
  display: grid;
  grid-auto-rows: 40px; /* ← evita que las filas se expandan por espacio libre */
  overflow-y: auto;
  background-color: #e0eefc;
  position: relative;
}

.table__row {
  display: grid;
  grid-template-columns: 50px 1.5fr 1fr 1fr 1.5fr;
  max-height: 40px; /* ← aquí estableces el mínimo */
  transition: 0.5s ease;
}

.table__row:hover {
  background-color: #b5d4f1;
  /* transition: background-color 0.5s ease; */
  font-size: 16.5px;
}

.table__header .table__cell {
  padding: 10px;
}

.table__cell {
  /* padding: 10px; */
  /* display: flex;
  align-items: center; */
  line-height: 1.2;
  white-space: nowrap; /* No saltar de línea */
  overflow: hidden; /* Ocultar lo que se sale */
  text-overflow: ellipsis; /* Mostrar puntos suspensivos */
  align-self: center;
}

.table__body .table__cell:first-child {
  /* display: flex;
  justify-content: center; */
  text-align: center;
}

.table__body::-webkit-scrollbar {
  width: 8px;
}

.table__body::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

#pets-client .table__header,
#pets-client .table__row {
  grid-template-columns: 50px 1fr 0.7fr 1fr 1.2fr 1fr;
}

#pets .table__header,
#pets .table__row {
  grid-template-columns: 50px 1fr 0.7fr 1fr 1fr 1fr 1fr;
}

#pet-antecedent-treatment .table__header,
#pet-antecedent-treatment .table__row {
  grid-template-columns: 50px 1fr 2.5fr 1fr 0.8fr 1.2fr 1fr;
}

#products .table__header,
#products .table__row {
  grid-template-columns: 50px 1.5fr repeat(4, 1fr);
}

#medicaments .table__header,
#medicaments .table__row {
  grid-template-columns: 50px 1fr 2fr 0.8fr 1fr 1fr 0.7fr 0.5fr;
}

.table-container--administrar_datos .table__header,
.table-container--administrar_datos .table__row {
  grid-template-columns: 50px 1fr 50px;
}

.placeholder {
  font-size: 30px;
  font-weight: 600;
  color: #696969;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 90%;
  text-align: center;
}
