<table class="table">
  <thead class="table__header">
    <tr class="table__row-header">
      <th class="table__cell-header">ID</th>
      <th class="table__cell-header">Nombre</th>
      <th class="table__cell-header">Documento</th>
      <th class="table__cell-header">Telefono</th>
      <th class="table__cell-header">Correo</th>
    </tr>
  </thead>
  <tbody class="table__body">
    <tr class="table__row-body">
      <td class="table__cell-body">1</td>
      <td class="table__cell-body">Johan Delgado</td>
      <td class="table__cell-body">1095916126</td>
      <td class="table__cell-body">3157958759</td>
      <td class="table__cell-body">johan24.dev@gmail.com</td>
    </tr>
  </tbody>
</table>
