<section class="section-form section-form--margin">
  <a href="#/personal">
    <i class="ri-arrow-left-line arrow-left"></i>
  </a>
  <h1 class="section-form__title">Registro de Empleado</h1>
  <hr class="section-form__line" />

  <!-- Formulario -->
  <form action="#" id="form-register" novalidate>
    <!-- Datos de acceso -->
    <h2 class="section-form__subtitle">Datos de Acceso</h2>

    <div class="form">
      <div class="form__container-field form__container-field--span">
        <label for="" class="form__label">Usuario</label>
        <input
          type="text"
          class="form__input"
          required
          data-validate="alfanumerico"
          name="usuario"
        />
      </div>
      <div class="form__container-field form__container-field--span">
        <label for="" class="form__label">Contraseña</label>
        <input
          type="text"
          class="form__input"
          required
          data-validate="contrasena"
          name="contrasena"
        />
      </div>
      <div class="form__container-field form__container-field--span">
        <label for="" class="form__label">Rol</label>
        <select
          class="form__input form__input--select"
          required
          id="select-roles"
          name="id_rol"
        >
          <!-- Opciones -->
          <option disabled selected value="">Seleccione una opcion</option>
        </select>
      </div>
    </div>

    <!-- Información personal -->
    <h2 class="section-form__subtitle">Información Personal</h2>

    <div class="form">
      <div class="form__container-field form__container-field--span">
        <label for="" class="form__label">Nombre Completo</label>
        <input
          type="text"
          class="form__input"
          required
          data-validate="texto"
          name="nombre"
        />
      </div>
      <div class="form__container-fields form__container-fields--grid-variant">
        <div class="form__container-field">
          <label for="" class="form__label">Tipo de Documento</label>
          <select
            class="form__input form__input--select"
            required
            id="tipos-documento"
            name="id_tipo_documento"
          >
            <!-- Opciones -->
            <option disabled selected value="">Seleccione una opcion</option>
          </select>
        </div>
        <div class="form__container-field">
          <label for="" class="form__label">Número</label>
          <input
            type="text"
            class="form__input"
            required
            data-validate="numero"
            name="numero_documento"
          />
        </div>
      </div>
      <div class="form__container-field form__container-field--span">
        <label for="" class="form__label">Teléfono</label>
        <input
          type="text"
          class="form__input"
          required
          data-validate="numero"
          name="telefono"
        />
      </div>
      <div class="form__container-field form__container-field--span">
        <label for="" class="form__label">Correo</label>
        <input
          type="text"
          class="form__input"
          required
          data-validate="correo"
          name="correo"
        />
      </div>
      <div class="form__container-field form__container-field--span">
        <label for="" class="form__label">Dirección / Barrio</label>
        <input type="text" class="form__input" required name="direccion" />
      </div>
      <div class="form__container-btns">
        <button type="submit" class="btn btn--lower-height">Registrar</button>
      </div>
    </div>
  </form>
</section>
