<section class="section-inventory" id="inventory">
  <section class="block-container">
    <header class="block-header">
      <h3 class="block-header__title">Lista de Productos</h3>
      <div class="block-header__right">
        <a href="#/inventario/productosCrear">
          <button class="btn block-header__btn" id="btn-register-product">
            Registrar producto
          </button>
        </a>
        <i class="ri-search-2-line block-header__icon-button"></i>
      </div>
    </header>

    <div class="table-container" id="products">
      <div class="table">
        <div class="table__header">
          <div class="table__cell">ID</div>
          <div class="table__cell">Nombre</div>
          <div class="table__cell">Tipo de producto</div>
          <div class="table__cell">Precio</div>
          <div class="table__cell">Stock</div>
          <div class="table__cell">Fecha caducidad</div>
        </div>
        <div class="table__body">
          <!-- Más filas -->
        </div>
      </div>
    </div>
  </section>
  <section class="block-container">
    <header class="block-header">
      <h3 class="block-header__title">Lista de Medicamentos</h3>
      <div class="block-header__right">
        <a href="#/inventario/medicamentosCrear">
          <button
            class="btn block-header__btn"
            id="btn-registro-medicament-lote"
          >
            Registrar medicamento
          </button>
        </a>
        <i class="ri-search-2-line block-header__icon-button"></i>
      </div>
    </header>

    <div class="table-container" id="medicaments">
      <div class="table">
        <div class="table__header">
          <!-- <div class="table__cell">ID</div> -->
          <div class="table__cell">ID</div>
          <div class="table__cell">Num. Lote</div>
          <div class="table__cell">Nombre</div>
          <div class="table__cell">Uso general</div>
          <div class="table__cell">Via</div>
          <div class="table__cell">Presentacion</div>
          <div class="table__cell">Precio</div>
          <div class="table__cell">Cantidad</div>
        </div>
        <div class="table__body">
          <!-- Más filas -->
        </div>
      </div>
    </div>
  </section>
</section>
