<div class="layout" id="layout">
  <header class="header">
    <label for="menu-activar" class="menu-hamburguesa"
      ><i class="ri-menu-line"></i
    ></label>
    <img src="./src/assets/logoSinFondo.png" alt="logo" class="logo" />
    <div class="header__info-container">
      <h3 class="header__user" id="empleado-nombre-header">Lady Mantilla</h3>
      <div class="contenedor-roles">
        <!-- <p class="roles">Cliente</p>
        <p class="roles">Veterinario</p>
        <p class="roles">Administrador</p> -->
      </div>
      <!-- <p class="header__rol roles" id="empleado-rol-header">Usuario</p> -->
    </div>
  </header>
  <input type="checkbox" id="menu-activar" class="menu-activar" />
  <aside class="sidebar">
    <h2 class="sidebar__title">Opciones</h2>
    <nav class="sidebar__nav">
      <ul class="sidebar__list">
        <li
          class="sidebar__item"
          data-permiso="usuario.view-client,usuario.view"
        >
          <a href="#/clientes" class="sidebar__link">Clientes</a>
        </li>
        <li class="sidebar__item" data-permiso="mascota.view">
          <a href="#/mascotas" class="sidebar__link">Mascotas</a>
        </li>
        <li class="sidebar__item" data-permiso="venta.view">
          <a href="#/ventas/" class="sidebar__link">Ventas</a>
        </li>
        <li class="sidebar__item" data-permiso="medicamento.view,producto.view">
          <a href="#/inventario" class="sidebar__link">Inventario</a>
        </li>
        <li
          class="sidebar__item admin"
          data-permiso="tipo-producto.view,especie.view,raza.view"
        >
          <a href="#/administrar-datos" class="sidebar__link"
            >Administrar Datos</a
          >
        </li>
        <li class="sidebar__item" data-permiso="info-medicamento.view">
          <a href="#/info-medicamentos/" class="sidebar__link"
            >Info. Medicamentos</a
          >
        </li>
        <li class="sidebar__item" data-permiso="servicio.view">
          <a href="#/servicios" class="sidebar__link">Servicios</a>
        </li>
        <li class="sidebar__item admin" data-permiso="usuario.view">
          <a href="#/usuarios" class="sidebar__link">Empleados</a>
        </li>
      </ul>
    </nav>
    <div class="cuenta-contenedor cuenta-sidebar" id="cuenta">
      <i class="ri-user-3-line user-icon cuenta-icon"></i>
      <p class="cuenta">Cuenta</p>
    </div>
    <div class="cuenta-opciones">
      <!-- <div class="cuenta-contenedor">
        <i class="ri-user-3-line cuenta-icon" id="perfil-usuario"></i>
        <p class="cuenta">Ver Perfil</p>
      </div> -->
      <div class="cuenta-contenedor" id="salir-usuario">
        <i class="ri-logout-box-r-line cuenta-icon"></i>
        <p class="cuenta">Salir</p>
      </div>
    </div>
  </aside>
  <main class="main" data-slot="main"></main>
</div>
