<section class="block-container">
  <header class="block-header">
    <h3 class="block-header__title">Servicios</h3>
    <div class="block-header__right">
      <a href="#/servicios/crear">
        <button class="btn block-header__btn admin" id="btn-register-service">
          Registrar servicio
        </button>
      </a>
      <!-- <i class="ri-search-2-line block-header__icon-button"></i> -->
    </div>
  </header>
  <div class="grid-container" id="services">
    <!--  Ejemplo:  -->
    <!-- <div class="card">
      <img src="../../../public/logoService.png" alt="" class="card__img" />
      <div>
        <h3 class="card__title">Titulo de el servicio</h3>
        <p class="card__description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
          itaque cum totam, consequatur laudantium quidem ut at voluptatum nihil
          dicta porro placeat. Cumque est dolore tenetur corrupti sequi itaque
          iste.
        </p>
      </div>
      <button class="btn btn--edit">
        <i class="ri-edit-box-line"></i>
      </button>
    </div> -->
    <!-- Puedes seguir agregando más -->
  </div>
</section>
